# Environnement virtuel
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Tests / outils
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Variables d'environnement
.env

# IDE
.vscode/
.idea/
